kokoro tts.json
{
  "name": "kokoro tts",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -14832,
        4032
      ],
      "id": "f5d84cca-6b4f-4889-b1b6-b42527f81e4d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae3c4fa7-55f7-4d53-b6db-e5204061e699",
              "name": "Image 1",
              "value": "={{ $json.image_1.data[0].url }}",
              "type": "string"
            },
            {
              "id": "5849fa56-59e4-46f1-8d0d-7a72ab118c37",
              "name": "Audio 1",
              "value": "={{ $json.audio_1.file_url }}",
              "type": "string"
            },
            {
              "id": "7629501a-6b17-4842-8c0e-1cb8a867648a",
              "name": "Image 2",
              "value": "={{ $json.image_2.data[0].url }}",
              "type": "string"
            },
            {
              "id": "a250e441-e78d-468e-bc9a-3ad4e705f13e",
              "name": "Audio 2",
              "value": "={{ $json.audio_2.file_url }}",
              "type": "string"
            },
            {
              "id": "75b8133e-96a8-47ab-94db-b20b87ed66c9",
              "name": "Image 3",
              "value": "={{ $json.image_3.data[0].url }}",
              "type": "string"
            },
            {
              "id": "2f03412a-4a01-475c-aed3-980cf30524bb",
              "name": "Audio 3",
              "value": "={{ $json.audio_3.file_url }}",
              "type": "string"
            },
            {
              "id": "f6118d24-c4f7-4b63-843c-113f4caacc53",
              "name": "base_url",
              "value": "http://host.docker.internal:8080",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14016,
        4688
      ],
      "id": "7a145d9a-d884-45a1-bb52-4e111bd27cdd",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "fieldToSplitOut": "scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -14000,
        4992
      ],
      "id": "994b0cfc-d9c7-4281-9698-8e385dabe861",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const buildArrayScenes = $('Build Faceless Array').first().json.scenes;\nconst doneBranchItems = $input.all();\n\nconst updatedScenes = buildArrayScenes.map(scene => {\n\n  const matchingVideoItem = doneBranchItems.find(item =>\n    item.json?.id === scene.sceneId &&\n    typeof item.json.response === 'string' && \n    item.json.response.startsWith('http')\n  );\n\n  if (matchingVideoItem) {\n    return {\n      ...scene,\n      video: matchingVideoItem.json.response,\n    };\n  }\n\n  return scene;\n});\n\nreturn [\n  {\n    json: {\n      scenes: updatedScenes,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13600,
        4992
      ],
      "id": "589d8a58-a2ee-45e7-8718-3b628b364036",
      "name": "Create Array with Videos"
    },
    {
      "parameters": {
        "fieldToSplitOut": "scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -13392,
        4672
      ],
      "id": "65277cb7-d901-438e-af0d-1953fc4dad45",
      "name": "Split Items"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst videoUrls = items.map((item) => ({\n  video_url: item.json.response[0].file_url\n}));\n\nconst output = {\n  video_urls: videoUrls,\n  id: \"2323\"\n};\n\nreturn [\n  {\n    json: {\n      output: JSON.stringify(output)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12736,
        4672
      ],
      "id": "73512f20-7900-4114-8ed8-b7b6abcfd033",
      "name": "Build Video Array"
    },
    {
      "parameters": {
        "content": "## Prepare Automation",
        "height": 300,
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -14272,
        4576
      ],
      "typeVersion": 1,
      "id": "1401660a-bcd3-4946-b807-0d5dcdec2138",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/image/transform/video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"image_url\":\"{{ $json.image }}\",\n    \"length\": 20,\n    \"frame_rate\": 25,\n    \"zoom_speed\": 6,\n    \"id\": \"{{ $('Split Out').item.json.sceneId }}\"\n} ",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -13824,
        4992
      ],
      "id": "4d5e908d-ec8e-4d42-9d7e-1abb884d3190",
      "name": "Generate Video"
    },
    {
      "parameters": {
        "content": "## Generate Videos",
        "height": 300,
        "width": 580,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -14272,
        4896
      ],
      "typeVersion": 1,
      "id": "026ffb3e-dca4-42e2-bec2-b2cd447cf0c8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst scenes = [];\n\nconst keys = Object.keys(item);\nconst sceneNumbers = new Set();\n\nkeys.forEach(key => {\n  const match = key.match(/(Audio|Image) (\\d+)/);\n  if (match) {\n    sceneNumbers.add(match[2]);\n  }\n});\n\nArray.from(sceneNumbers)\n  .sort((a, b) => Number(a) - Number(b))\n  .forEach(num => {\n    scenes.push({\n      audio: item[`Audio ${num}`] || null,\n      image: item[`Image ${num}`] || null,\n      video: null,\n      sceneId: `Scene ${num}`,\n    });\n  });\n\nreturn [\n  {\n    json: {\n      scenes,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13616,
        4688
      ],
      "id": "7ca6b092-faf5-4dc9-8e0d-68650d11bb4f",
      "name": "Build Faceless Array"
    },
    {
      "parameters": {
        "content": "## Get Video Metadata",
        "height": 300,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -13664,
        4576
      ],
      "typeVersion": 1,
      "id": "a10cf22f-b4c8-4044-b820-15fed9df8e1c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Trim Audio + Video",
        "height": 300,
        "width": 580,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -13664,
        4896
      ],
      "typeVersion": 1,
      "id": "a3c91dee-ba13-4286-b8f5-82f290022f0c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Final Merged Video",
        "height": 300,
        "width": 748,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -13056,
        4576
      ],
      "typeVersion": 1,
      "id": "fa8899b4-957a-46e2-9ec2-61bc0781e217",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/video/concatenate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.output }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -12512,
        4672
      ],
      "id": "ffbafb02-4728-4e77-bf31-ee97c38e6444",
      "name": "Concatenate Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/video/trim",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"video_url\": \"{{ $('Split Items').item.json.video }}\",\n    \"start\": \"00:00:00\",\n    \"end\": \"{{ $json.response.duration_formatted }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -13328,
        4992
      ],
      "id": "9a767438-4b45-41a3-a441-0d550e71669e",
      "name": "Trim Video"
    },
    {
      "parameters": {
        "content": "## Caption Video",
        "height": 300,
        "width": 748,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -13056,
        4896
      ],
      "typeVersion": 1,
      "id": "3559ac03-120b-4f0c-bf6d-efb9e98089bd",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/media/metadata ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_url\": \"{{ $json.audio }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -13200,
        4672
      ],
      "id": "49a3f4c3-d9b4-49f0-893a-7ee07e6f0c67",
      "name": "Get Audio Metadata"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/video/caption",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.response }}\",\n  \"settings\": {\n    \"line_color\": \"#FFFFFF\",\n    \"word_color\": \"#66ff74\",\n    \"all_caps\": false,\n    \"max_words_per_line\": 3,\n    \"font_size\": 60,\n    \"bold\": false,\n    \"italic\": false,\n    \"underline\": false,\n    \"strikeout\": false,\n    \"outline_width\": 3,\n    \"shadow_offset\": 4,\n    \"style\": \"highlight\",\n    \"font_family\": \"The Bold Font\",\n    \"position\": \"bottom_center\"\n  },\n  \"id\": \"gdrive-five\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -12640,
        4992
      ],
      "id": "bc41b44d-2fef-47e5-874f-d7f40c5182f6",
      "name": "Caption Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": [\n    {\n      \"file_url\": \"{{ $json.response }}\"\n    },\n    {\n      \"file_url\": \"{{ $('Split Items').item.json.audio }}\"\n    }\n  ],\n  \"outputs\": [\n    {\n      \"options\": [\n        {\n          \"option\": \"-map\",\n          \"argument\": \"0:v:0\"\n        },\n        {\n          \"option\": \"-map\",\n          \"argument\": \"1:a:0\"\n        },\n        {\n          \"option\": \"-c:v\",\n          \"argument\": \"copy\"\n        },\n        {\n          \"option\": \"-c:a\",\n          \"argument\": \"aac\"\n        },\n        {\n          \"option\": \"-shortest\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -12960,
        4992
      ],
      "id": "db44e32e-253b-48a5-abf2-bd12979400bb",
      "name": "Combine Audio + Video"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.idea }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional motivational content creator. Your task is to generate a powerful, cinematic-style motivational script designed for a short-form video under 60 seconds. The final output should be split into 3 parts, each tied to a specific black & white image and audio segment.\n\nRequirements:\n\n- Each image must depict **only one person** in a wide or mid-shot (no close-up shots).\n- The image prompt should be **detailed**, cinematic, and emotionally expressive.\n- Every image description must end with: **“Black & White”**\n- Each part should include:\n  1. **Image Prompt** – A highly visual, detailed prompt for generating a black & white image. The image must feel cinematic, contain only one person, and NOT be a close-up.\n  2. **Script Text** – A motivational sentence (1–2 lines) that can be read in 5–7 seconds, emotionally resonant and human.\n\nConstraints:\n- The total combined audio must be under 60 seconds.\n- The script must feel raw, real, and inspiring — avoid clichés, exaggeration, or robotic tones.\n- Keep the language grounded, simple, and impactful.\n- Do not include hashtags, bullet points, or emojis.\n- Topic of the motivational message: {{ $json.idea }}\n\nOutput Format (JSON):\n{\n  \"image_1\": \"....\",\n  \"image_2\": \"....\",\n\n  \"audio_1\": \"....\",\n  \"audio_2\": \"....\"\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -14336,
        3968
      ],
      "id": "5b3412df-3c7a-49dd-98eb-79e502b66712",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"image_1\": \"......\",\n    \"image_2\": \"......\",\n    \"image_3\": \"......\",\n    \"audio_1\": \"......\",\n    \"audio_2\": \"......\",\n    \"audio_3\": \"......\"\n    }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -14064,
        4144
      ],
      "id": "6e584e57-f521-4d47-a975-2e6b280b24cf",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.infip.pro/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer infip-5adef402"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.image_script }}\",\n\"model\":\"img4\",\n  \"num_images\": 1,\n  \"enable_safety_checker\": true,\n  \"output_format\": \"jpeg\",\n  \"safety_tolerance\": \"2\",\n  \"aspect_ratio\": \"9:16\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -13136,
        3888
      ],
      "id": "fbb55ee1-8bbc-4f9d-acab-dd763e741418",
      "name": "Image Gen"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee9d9198-73be-4b18-8178-43bd88dc7411",
              "name": "image_1",
              "value": "={{ $json.output.image_1 }}",
              "type": "string"
            },
            {
              "id": "865fe843-de47-45f4-b983-151249e86612",
              "name": "image_2",
              "value": "={{ $json.output.image_2 }}",
              "type": "string"
            },
            {
              "id": "aeb27b33-e301-43f6-9815-b4211f327892",
              "name": "image_3",
              "value": "={{ $json.output.image_3 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -13728,
        3952
      ],
      "id": "8afab730-5334-4fb3-9b5d-6347c8d646b0",
      "name": "Image Scripts"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee9d9198-73be-4b18-8178-43bd88dc7411",
              "name": "audio_1",
              "value": "={{ $json.output.audio_1 }}",
              "type": "string"
            },
            {
              "id": "aeb27b33-e301-43f6-9815-b4211f327892",
              "name": "audio_2",
              "value": "={{ $json.output.audio_2 }}",
              "type": "string"
            },
            {
              "id": "2b411a02-bcef-4b5b-bbac-ddb277c93ab4",
              "name": "audio_3",
              "value": "={{ $json.output.audio_3 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -13728,
        4128
      ],
      "id": "2367f8ad-d24b-4749-9cf6-3aad7d67ed36",
      "name": "Audio Scripts"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\n// Assuming your input has audio_1, audio_2, audio_3 fields\nconst inputItem = $input.first();\n\n// Extract each audio script as a separate item\nif (inputItem.json.audio_1) {\n  items.push({\n    json: {\n      audio_script: inputItem.json.audio_1,\n\n    }\n  });\n}\n\nif (inputItem.json.audio_2) {\n  items.push({\n    json: {\n      audio_script: inputItem.json.audio_2,\n\n    }\n  });\n}\n\nif (inputItem.json.audio_3) {\n  items.push({\n    json: {\n      audio_script: inputItem.json.audio_3,\n\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13536,
        4128
      ],
      "id": "8747f95b-3ad8-40b1-bc7b-e2bd38eeeedc",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\n// Assuming your input has image_1, image_2, image_3 fields\nconst inputItem = $input.first();\n\n// Extract each image script as a separate item\nif (inputItem.json.image_1) {\n  items.push({\n    json: {\n     image_script: inputItem.json.image_1,\n      \n    }\n  });\n}\n\nif (inputItem.json.image_2) {\n  items.push({\n    json: {\n      image_script: inputItem.json.image_2,\n    \n    }\n  });\n}\n\nif (inputItem.json.image_3) {\n  items.push({\n    json: {\n      image_script: inputItem.json.image_3,\n      \n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13504,
        3952
      ],
      "id": "76b56df7-f67a-482f-9625-da194d30717c",
      "name": "Code3"
    },
    {
      "parameters": {
        "url": "={{ $json.data[0].url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -12896,
        3888
      ],
      "id": "ec38a212-63de-4226-a140-57dd45281ec4",
      "name": "Image Get",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6krMQk0UfoUOVuJc",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const combinedItem = {\n  json: {}\n};\n\n// Combine all items into a single item\n$input.all().forEach((item, index) => {\n  const imageNumber = index + 1;\n  combinedItem.json[`image_${imageNumber}`] = item.json.image_script || item.json;\n});\n\nreturn [combinedItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12656,
        3888
      ],
      "id": "3def5498-211d-411f-ae3e-9f405652f665",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const combinedItem = {\n  json: {}\n};\n\n// Combine all items into a single item\n$input.all().forEach((item, index) => {\n  const audioNumber = index + 1;\n  combinedItem.json[`audio_${audioNumber}`] = item.json.audio_script || item.json;\n});\n\nreturn [combinedItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12384,
        4192
      ],
      "id": "22e9419f-2cbe-4160-bb14-fcacb35d2ff6",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -12000,
        4208
      ],
      "id": "dfc69a4e-9b58-41c7-a1c6-ba12ec7f61d7",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "# Self-Hosted API for Video Creation, Merging, and Auto-Captions",
        "height": 796,
        "width": 2624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -14336,
        4432
      ],
      "id": "86a1b495-f9a3-4198-a481-4a381a1535e1",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Generate Images",
        "height": 220,
        "width": 780,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -13248,
        3824
      ],
      "typeVersion": 1,
      "id": "33834e8d-fc58-44e9-ae4a-852c3cc6e0cd",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Generate Audio ",
        "height": 300,
        "width": 1084,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -13248,
        4080
      ],
      "typeVersion": 1,
      "id": "ca67de5a-7766-499f-a629-fd87fb861891",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Unbundle Images & Audio",
        "height": 480,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -13808,
        3856
      ],
      "typeVersion": 1,
      "id": "20847e5b-c8b4-4684-8ff6-c57b8d0495ea",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Generate Script",
        "height": 400,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -14384,
        3888
      ],
      "typeVersion": 1,
      "id": "d2650063-e4a3-420d-ac21-43939f4b6ef3",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Motivational_Stories",
        "limit": 10
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -14608,
        4032
      ],
      "id": "8307d26f-4398-492f-b419-374977da7635",
      "name": "Supabase Insert",
      "credentials": {
        "supabaseApi": {
          "id": "v3sBLnLD71Mql8Vu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "provider-3/deepseek-v3",
          "mode": "list",
          "cachedResultName": "provider-3/deepseek-v3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -14304,
        4160
      ],
      "id": "3b305a04-a24a-4e46-a8bd-1c589bb221df",
      "name": "AF4 Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SGX1Vgzz7Eqvr51E",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -13168,
        4128
      ],
      "id": "2f23883c-5b65-4328-bf81-e8df4880109f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "nca-toolkit",
        "additionalFields": {
          "parentFolderKey": "=audio/elevenlabs_{{$itemIndex + 1}}"
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -12768,
        4096
      ],
      "id": "aa19f9c3-21fd-45ee-853d-acc207bc46d3",
      "name": "Upload a file",
      "credentials": {
        "s3": {
          "id": "SKZ3sdER2DNqAkda",
          "name": "S3 account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36039af3-7622-474f-9bdb-0766b870c12c",
              "name": "file_url",
              "value": "={{ \"http://host.docker.internal:9000/nca-toolkit/audio/elevenlabs_\" + ($itemIndex + 1) + \"/speech.mp3\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12592,
        4112
      ],
      "id": "2bd457f4-ffd5-46ab-85ca-916c45dae322",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8880/v1/audio/speech",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": \"{{ $('Code2').item.json.audio_script }}\",\n  \"voice\": \"af_bella\",\n  \"response_format\": \"mp3\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -12944,
        4160
      ],
      "id": "4629e31b-47de-42c5-9bf1-0305cb8dc91c",
      "name": "Kokoro TTS"
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "nca-toolkit",
        "returnAll": true,
        "options": {}
      },
      "id": "bf7a9542-467b-4527-bc5d-4a4d18704b93",
      "name": "List All S3 Files",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -12256,
        4912
      ],
      "credentials": {
        "s3": {
          "id": "SKZ3sdER2DNqAkda",
          "name": "S3 account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the current captioned video key from Caption Video node\nlet currentCaptionedKey = null;\ntry {\n  const captionUrl = $('Caption Video').first().json.response;\n  const match = captionUrl.match(/nca-toolkit\\/(.+)$/);\n  if (match) {\n    currentCaptionedKey = match[1];\n  }\n} catch (e) {\n  // Caption Video might not have response\n}\n\n// Get all S3 files and filter for deletion\nconst filesToDelete = [];\nconst items = $input.all();\n\nitems.forEach(item => {\n  const key = item.json.Key;\n  \n  // Skip if this is the current captioned video\n  if (currentCaptionedKey && key === currentCaptionedKey) {\n    return; // Keep this file\n  }\n  \n  // Delete all .mp4 and .mp3 files (old videos and audio)\n  if (key.endsWith('.mp4') || key.endsWith('.mp3')) {\n    filesToDelete.push({\n      json: { key }\n    });\n  }\n});\n\n// Also add the audio folder paths to delete (they should be empty after files are deleted)\nfor (let i = 1; i <= 3; i++) {\n  filesToDelete.push({\n    json: { key: 'audio/elevenlabs_' + i + '/' }\n  });\n}\n\nreturn filesToDelete;"
      },
      "id": "117e543c-bb5d-48de-8883-ba74056af401",
      "name": "Filter Cleanup Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12112,
        4752
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "bucketName": "nca-toolkit",
        "fileKey": "={{ $json.key }}",
        "options": {}
      },
      "id": "b41e633d-0fbd-4ee7-b23e-7ab2513fec51",
      "name": "Delete Temp Files",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -11936,
        4736
      ],
      "credentials": {
        "s3": {
          "id": "SKZ3sdER2DNqAkda",
          "name": "S3 account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Clean up files from S3",
        "height": 412,
        "width": 556,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -12288,
        4656
      ],
      "typeVersion": 1,
      "id": "8f7a8366-a997-4cb7-936b-8769dc41dab8",
      "name": "Sticky Note11"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Caption Video": {
      "main": [
        [
          {
            "node": "List All S3 Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Build Faceless Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Array with Videos": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Get Audio Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Video Array": {
      "main": [
        [
          {
            "node": "Concatenate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Create Array with Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Faceless Array": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenate Video": {
      "main": [
        [
          {
            "node": "Caption Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trim Video": {
      "main": [
        [
          {
            "node": "Combine Audio + Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio Metadata": {
      "main": [
        [
          {
            "node": "Trim Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Audio + Video": {
      "main": [
        [
          {
            "node": "Build Video Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Image Scripts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Audio Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Image Scripts": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Scripts": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Image Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Gen": {
      "main": [
        [
          {
            "node": "Image Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Get": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AF4 Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kokoro TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kokoro TTS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All S3 Files": {
      "main": [
        [
          {
            "node": "Filter Cleanup Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Cleanup Files": {
      "main": [
        [
          {
            "node": "Delete Temp Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a1d25ddc-de7d-4491-8787-c0d126422601",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3beeed8c7dfb3ed9688eff6f78847fda4abc61df92a5df8f1adf0fdaa07dcee4"
  },
  "id": "uj6o7vWWhGS9yvS5",
  "tags": []
}