Story Board.json
{
  "name": "Story Board",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst BASE_URL = 'http://host.docker.internal:8080';\nconst output = {};\n\n// Get image keys sorted numerically\nconst imageKeys = Object.keys(input)\n  .filter(key => key.startsWith('image_'))\n  .sort((a, b) => Number(a.split('_')[1]) - Number(b.split('_')[1]));\n\n// Get audio keys sorted numerically\nconst audioKeys = Object.keys(input)\n  .filter(key => key.startsWith('audio_'))\n  .sort((a, b) => Number(a.split('_')[1]) - Number(b.split('_')[1]));\n\n// Process images (DO NOT MODIFY URL)\nimageKeys.forEach(key => {\n  const index = key.split('_')[1];\n  const imageUrl = input[key] && input[key].image_url;\n\n  if (imageUrl) {\n    output[`Image ${index}`] = imageUrl;\n  }\n});\n\n// Process audio (DO NOT MODIFY URL)\naudioKeys.forEach(key => {\n  const index = key.split('_')[1];\n  const audioUrl = input[key] && input[key].file_url;\n\n  if (audioUrl) {\n    output[`Audio ${index}`] = audioUrl;\n  }\n});\n\n// Add constant base_url separately\noutput.base_url = BASE_URL;\n\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7600,
        28144
      ],
      "id": "e8203903-f597-4c3e-959c-90dd65fd66a8",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "fieldToSplitOut": "scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        7392,
        28416
      ],
      "id": "8d04bfb2-c757-48d8-9fec-8f501b848fcf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const buildArrayScenes = $('Build Faceless Array').first().json.scenes;\nconst doneBranchItems = $input.all();\n\nconst updatedScenes = buildArrayScenes.map(scene => {\n\n  const matchingVideoItem = doneBranchItems.find(item =>\n    item.json?.id === scene.sceneId &&\n    typeof item.json.response === 'string' && \n    item.json.response.startsWith('http')\n  );\n\n  if (matchingVideoItem) {\n    return {\n      ...scene,\n      video: matchingVideoItem.json.response,\n    };\n  }\n\n  return scene;\n});\n\nreturn [\n  {\n    json: {\n      scenes: updatedScenes,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8016,
        28448
      ],
      "id": "7eafaf41-792f-4425-9a62-068898838b3c",
      "name": "Create Array with Videos"
    },
    {
      "parameters": {
        "fieldToSplitOut": "scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        8224,
        28128
      ],
      "id": "537c9a58-28e5-46d0-83aa-318342780d6c",
      "name": "Split Items"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst videoUrls = items.map((item) => ({\n  video_url: item.json.response[0].file_url\n}));\n\nconst output = {\n  video_urls: videoUrls,\n  id: \"2323\"\n};\n\nreturn [\n  {\n    json: {\n      output: JSON.stringify(output)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8880,
        28128
      ],
      "id": "92a16071-f400-4dc0-86bf-c2799d75ac69",
      "name": "Build Video Array"
    },
    {
      "parameters": {
        "content": "## Prepare Automation",
        "height": 300,
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7344,
        28032
      ],
      "typeVersion": 1,
      "id": "69fd11b8-c46a-4eba-874a-be54aadb74ff",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/image/transform/video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"image_url\":\"{{ $json.image }}\",\n    \"length\": 20,\n    \"frame_rate\": 25,\n    \"zoom_speed\": 6,\n    \"id\": \"{{ $('Split Out').item.json.sceneId }}\"\n} ",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7552,
        28416
      ],
      "id": "634a8c5b-72fb-48e4-a56d-804a91eb3f7b",
      "name": "Generate Video"
    },
    {
      "parameters": {
        "content": "## Generate Videos",
        "height": 300,
        "width": 580,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7344,
        28352
      ],
      "typeVersion": 1,
      "id": "c2b97357-1baa-4fa9-a624-23e1da102aba",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst scenes = [];\n\nconst keys = Object.keys(item);\nconst sceneNumbers = new Set();\n\nkeys.forEach(key => {\n  const match = key.match(/(Audio|Image) (\\d+)/);\n  if (match) {\n    sceneNumbers.add(match[2]);\n  }\n});\n\nArray.from(sceneNumbers)\n  .sort((a, b) => Number(a) - Number(b))\n  .forEach(num => {\n    scenes.push({\n      audio: item[`Audio ${num}`] || null,\n      image: item[`Image ${num}`] || null,\n      video: null,\n      sceneId: `Scene ${num}`,\n    });\n  });\n\nreturn [\n  {\n    json: {\n      scenes,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8000,
        28144
      ],
      "id": "13a29906-10b7-40c1-aa55-d78a9a02d9ad",
      "name": "Build Faceless Array"
    },
    {
      "parameters": {
        "content": "## Get Video Metadata",
        "height": 300,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7952,
        28032
      ],
      "typeVersion": 1,
      "id": "db6abca7-2dc3-4e20-8a0f-fab9cbd97732",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Trim Audio + Video",
        "height": 300,
        "width": 580,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7952,
        28352
      ],
      "typeVersion": 1,
      "id": "6e8bc506-4132-4535-9fa2-217ed16a11f7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Final Merged Video",
        "height": 300,
        "width": 748,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8560,
        28032
      ],
      "typeVersion": 1,
      "id": "c071180c-e0d4-4e67-ae88-e7586d6ea737",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/video/concatenate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.output }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9104,
        28128
      ],
      "id": "9e3f7754-1378-4a20-81bb-722bdff2301a",
      "name": "Concatenate Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/video/trim",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"video_url\": \"{{ $('Split Items').item.json.video }}\",\n    \"start\": \"00:00:00\",\n    \"end\": \"{{ $json.response.duration_formatted }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8288,
        28448
      ],
      "id": "21b5dd99-b9b2-4eff-8af2-57597462e9a0",
      "name": "Trim Video"
    },
    {
      "parameters": {
        "content": "## Caption Video",
        "height": 300,
        "width": 748,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8560,
        28352
      ],
      "typeVersion": 1,
      "id": "fa707f57-df2d-48fe-b725-363428375316",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/media/metadata ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_url\": \"{{ $json.audio }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8416,
        28128
      ],
      "id": "245ca27c-065f-4b1a-9fa9-bce827e8fe13",
      "name": "Get Audio Metadata"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/video/caption",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.response }}\",\n  \"settings\": {\n    \"line_color\": \"#FFFFFF\",\n    \"word_color\": \"#66ff74\",\n    \"all_caps\": false,\n    \"max_words_per_line\": 3,\n    \"font_size\": 60,\n    \"bold\": false,\n    \"italic\": false,\n    \"underline\": false,\n    \"strikeout\": false,\n    \"outline_width\": 3,\n    \"shadow_offset\": 4,\n    \"style\": \"highlight\",\n    \"font_family\": \"The Bold Font\",\n    \"position\": \"bottom_center\"\n  },\n  \"id\": \"gdrive-five\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8976,
        28448
      ],
      "id": "c455720f-f171-445b-b513-3cd347e08258",
      "name": "Caption Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": [\n    {\n      \"file_url\": \"{{ $json.response }}\"\n    },\n    {\n      \"file_url\": \"{{ $('Split Items').item.json.audio }}\"\n    }\n  ],\n  \"outputs\": [\n    {\n      \"options\": [\n        {\n          \"option\": \"-map\",\n          \"argument\": \"0:v:0\"\n        },\n        {\n          \"option\": \"-map\",\n          \"argument\": \"1:a:0\"\n        },\n        {\n          \"option\": \"-c:v\",\n          \"argument\": \"copy\"\n        },\n        {\n          \"option\": \"-c:a\",\n          \"argument\": \"aac\"\n        },\n        {\n          \"option\": \"-shortest\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8656,
        28448
      ],
      "id": "d36dc5f4-d9cb-4fa4-bd16-86f2cbbe5905",
      "name": "Combine Audio + Video"
    },
    {
      "parameters": {
        "jsCode": "// Just pass through the data from Generate Image Items\n// It already has filePath and fileName set correctly\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9008,
        27296
      ],
      "id": "2cf899bd-6765-4c80-b55a-e073896bc997",
      "name": "Get Image Path (Pass Through)"
    },
    {
      "parameters": {
        "filePath": "={{ $json.filePath }}"
      },
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        9344,
        27296
      ],
      "id": "e6dc05b5-928e-4ef6-9bfd-c7c60ebca65a",
      "name": "Read Image File"
    },
    {
      "parameters": {
        "jsCode": "// After aggregate, get audioScript from the first item's data\nconst items = $input.all();\n\n// The aggregate node wraps items in a 'data' array\n// Get the audioScript from the first original item\nlet audioScript;\n\nif (items.length > 0 && items[0].json.data && Array.isArray(items[0].json.data)) {\n  // Aggregate output format\n  const firstOriginalItem = items[0].json.data[0];\n  audioScript = firstOriginalItem.audioScript;\n} else {\n  // Direct format (fallback)\n  audioScript = items[0].json.audioScript || items[0].json['Complete Audio Script'];\n}\n\nif (!audioScript) {\n  const availableKeys = Object.keys(items[0].json).join(', ');\n  throw new Error(`No audio script found. Available keys: ${availableKeys}`);\n}\n\n// Split by blank lines (double newline)\nconst segments = audioScript\n  .split(/\\n\\s*\\n/)\n  .map(s => s.trim())\n  .filter(s => s.length > 0);\n\n// Create output with audio_1, audio_2, etc.\nconst output = {};\nsegments.forEach((segment, index) => {\n  output[`audio_${index + 1}`] = segment;\n});\n\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7920,
        27216
      ],
      "id": "1257c250-1db6-48f2-9c29-b8f86ef341df",
      "name": "Split Audio Scripts"
    },
    {
      "parameters": {
        "jsCode": "// Get the number of audio scripts\nconst audioCount = Object.keys($input.first().json).filter(key => key.startsWith('audio_')).length;\n\n// We have 20 images saved (1.png through 20.png)\nconst imageCount = 20;\n\nconst items = [];\n\n// Generate items for each audio segment\nfor (let i = 1; i <= audioCount; i++) {\n  let imageIndex;\n  \n  if (i <= imageCount) {\n    // Use images 1-20 for audio 1-20\n    imageIndex = i;\n  } else {\n    // Reuse from the end: audio 21 -> image 19, audio 22 -> image 20\n    const overflow = i - imageCount;\n    imageIndex = imageCount - overflow + 1;\n  }\n  \n  items.push({\n    json: {\n      image_index: i,\n      actual_image_file: imageIndex,\n      filePath: `/home/node/.n8n-files/images/${imageIndex}.png`,\n      fileName: `${imageIndex}.png`\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8384,
        27232
      ],
      "id": "77f4d0aa-c5e3-44c1-a0cb-3f5eed364404",
      "name": "Generate Image Items"
    },
    {
      "parameters": {
        "jsCode": "const combinedItem = {\n  json: {}\n};\n\n// Combine all items into a single item\n$input.all().forEach((item, index) => {\n  const audioNumber = index + 1;\n  combinedItem.json[`image_${audioNumber}`] = item.json.audio_script || item.json;\n});\n\nreturn [combinedItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9328,
        27088
      ],
      "id": "d73ebe61-63df-4c94-b1d7-8f8878b2466e",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const combinedItem = {\n  json: {}\n};\n\n// Combine all items into a single item\n$input.all().forEach((item, index) => {\n  const audioNumber = index + 1;\n  combinedItem.json[`audio_${audioNumber}`] = item.json.audio_script || item.json;\n});\n\nreturn [combinedItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9232,
        27648
      ],
      "id": "8545fb7e-b05b-4125-931e-3864803e06d2",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        9616,
        27664
      ],
      "id": "56c1caf8-163c-4eda-aabe-2aa374160cb2",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "# Self-Hosted API for Video Creation, Merging, and Auto-Captions",
        "height": 796,
        "width": 2624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7280,
        27888
      ],
      "id": "5983340b-95e5-46b5-afaa-ff2e09932b0b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Generate Images",
        "height": 604,
        "width": 1196,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8368,
        26896
      ],
      "typeVersion": 1,
      "id": "64054310-19fd-4d58-b7fb-27a5d4ff1ab9",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Generate Audio ",
        "height": 332,
        "width": 1116,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8368,
        27536
      ],
      "typeVersion": 1,
      "id": "57300aff-551a-4659-9066-d6b23ca58da3",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Unbundle Images & Audio",
        "height": 704,
        "width": 1060,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7264,
        27136
      ],
      "typeVersion": 1,
      "id": "28d3afa7-635e-42d5-bd6c-8238211a507b",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        8448,
        27584
      ],
      "id": "9cc07f51-c3c2-4988-abcc-cde9109da8f4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36039af3-7622-474f-9bdb-0766b870c12c",
              "name": "file_url",
              "value": "={{ \"http://host.docker.internal:9000/nca-toolkit/audio/elevenlabs_\" + ($itemIndex + 1) + \"/speech.mp3\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9024,
        27568
      ],
      "id": "ff9334d3-004c-44c3-8f99-8af7dc515565",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8880/v1/audio/speech",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"input\": $json.audio_script,\n  \"voice\": \"am_michael\",\n  \"response_format\": \"mp3\"\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8688,
        27664
      ],
      "id": "8cbc264a-161d-452f-ae74-451b6109b145",
      "name": "Kokoro TTS"
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "nca-toolkit",
        "returnAll": true,
        "options": {}
      },
      "id": "c51bb3a0-11bb-4235-a7bf-31cd0b2bf837",
      "name": "List All S3 Files",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        9360,
        28368
      ],
      "credentials": {
        "s3": {
          "id": "SKZ3sdER2DNqAkda",
          "name": "S3 account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the current captioned video key from Caption Video node\nlet currentCaptionedKey = null;\ntry {\n  const captionUrl = $('Caption Video').first().json.response;\n  const match = captionUrl.match(/nca-toolkit\\/(.+)$/);\n  if (match) {\n    currentCaptionedKey = match[1];\n  }\n} catch (e) {\n  // Caption Video might not have response\n}\n\n// Get all S3 files and filter for deletion\nconst filesToDelete = [];\nconst items = $input.all();\n\nitems.forEach(item => {\n  const key = item.json.Key;\n  \n  // Skip if this is the current captioned video\n  if (currentCaptionedKey && key === currentCaptionedKey) {\n    return; // Keep this file\n  }\n  \n  // Delete all .mp4 and .mp3 files (old videos and audio)\n  if (key.endsWith('.mp4') || key.endsWith('.mp3')) {\n    filesToDelete.push({\n      json: { key }\n    });\n  }\n});\n\n// Also add the audio folder paths to delete (they should be empty after files are deleted)\nfor (let i = 1; i <= 3; i++) {\n  filesToDelete.push({\n    json: { key: 'audio/elevenlabs_' + i + '/' }\n  });\n}\n\nreturn filesToDelete;"
      },
      "id": "73c951bc-3b5d-40f4-8d44-df73ea00a91b",
      "name": "Filter Cleanup Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9504,
        28208
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "bucketName": "nca-toolkit",
        "fileKey": "={{ $json.key }}",
        "options": {}
      },
      "id": "018acb5f-6547-472b-a9a9-2d81bd769b60",
      "name": "Delete Temp Files",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        9680,
        28192
      ],
      "credentials": {
        "s3": {
          "id": "SKZ3sdER2DNqAkda",
          "name": "S3 account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Clean up files from S3",
        "height": 412,
        "width": 556,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9328,
        28112
      ],
      "typeVersion": 1,
      "id": "0c60cfb1-7d4e-498b-865a-5a7bb8d4be88",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        8752,
        27168
      ],
      "id": "b3692c4f-6362-445f-881d-acdc05cd545f",
      "name": "Process Images Sequentially"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36039af3-7622-474f-9bdb-0766b870c12c",
              "name": "image_url",
              "value": "={{ \"http://host.docker.internal:9000/nca-toolkit/images/image_\" + $json.image_index + \"/image.png\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9136,
        27024
      ],
      "id": "c073fb10-ac7d-4610-8cd1-d1f9d8233614",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "nca-toolkit",
        "additionalFields": {
          "parentFolderKey": "=audio/elevenlabs_{{$itemIndex + 1}}"
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        8816,
        27568
      ],
      "id": "e02b572c-b489-4dd2-ad71-3268a00b5461",
      "name": "Upload a file",
      "credentials": {
        "s3": {
          "id": "SKZ3sdER2DNqAkda",
          "name": "S3 account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "nca-toolkit",
        "fileName": "image.png",
        "additionalFields": {
          "parentFolderKey": "=images/image_{{$json.image_index}}"
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        8592,
        26976
      ],
      "id": "9869f8ad-198c-4efd-9ca6-68ad11e66802",
      "name": "Upload a file1",
      "credentials": {
        "s3": {
          "id": "SKZ3sdER2DNqAkda",
          "name": "S3 account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get uploaded files from form\nconst inputItem = $input.first();\nconst json = inputItem.json || {};\nconst binaryData = inputItem.binary || {};\n\nconst allKeys = Object.keys(json).join(', ');\n\n// Get audio script\nconst audioScript =\n  json['Complete Audio Script'] ||\n  json['Story Audio Script'] ||\n  json['complete_audio_script'];\n\nif (!audioScript) {\n  throw new Error(`Audio script not found. Form JSON keys: ${allKeys}`);\n}\n\n// Collect ALL binary files\nconst binaryKeys = Object.keys(binaryData);\n\nif (binaryKeys.length === 0) {\n  throw new Error('No images found in binary data');\n}\n\nconst items = [];\n\nbinaryKeys.forEach((key, index) => {\n  const file = binaryData[key];\n  const imageIndex = index + 1;\n\n  const targetPath = `/home/node/.n8n-files/images/${imageIndex}.png`;\n\n  items.push({\n    json: {\n      image_index: imageIndex,\n      filePath: targetPath,\n      audioScript: audioScript,\n      originalFileName: file.fileName || `image_${imageIndex}`,\n      binaryFieldName: key\n    },\n    binary: {\n      data: file\n    }\n  });\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7488,
        27440
      ],
      "id": "377ba4be-0f2b-4b4e-ba32-9b43b222570b",
      "name": "Process Uploaded Images"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7696,
        27344
      ],
      "id": "651b6bef-fc44-4edc-b2b1-1d469675f696",
      "name": "Loop Over Uploaded Images"
    },
    {
      "parameters": {
        "fileName": "={{ $json.filePath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        7952,
        27552
      ],
      "id": "cd955a1b-c08e-4074-aa3a-3d16bf2a83f7",
      "name": "Save Image to Filesystem"
    },
    {
      "parameters": {
        "path": "4ac58558-fb88-416b-bee4-d0b868ead133",
        "formTitle": "Story Video Creation",
        "formDescription": "Upload your images and paste your audio script. Each paragraph separated by a blank line will become one audio segment.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Story Images",
              "fieldType": "file",
              "requiredField": true
            },
            {
              "fieldLabel": "Complete Audio Script",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        7328,
        27440
      ],
      "id": "1febf93a-d01a-4039-b211-54a040c1c287",
      "name": "Form Trigger",
      "webhookId": "4ac58558-fb88-416b-bee4-d0b868ead133"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        7328,
        27216
      ],
      "id": "35d535d1-b793-4cda-9d38-1286304a47d1",
      "name": "Wait for All Images Saved"
    },
    {
      "parameters": {
        "jsCode": "// Prepare items for Kokoro TTS API\nconst audioData = $input.first().json;\n\n// Get all audio segments\nconst audioKeys = Object.keys(audioData).filter(key => key.startsWith('audio_')).sort();\n\nconst items = [];\naudioKeys.forEach((key, index) => {\n  items.push({\n    json: {\n      audio_index: index + 1,\n      audio_script: audioData[key],\n      input: audioData[key]  // Required by Kokoro TTS API\n    }\n  });\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8144,
        27392
      ],
      "id": "aa0c64ea-1b41-4158-ad11-6e2ba1a5a97b",
      "name": "Prepare Audio Items"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map((item, index) => {\n  const currentItem = item.json || {};\n\n  return {\n    json: {\n      ...currentItem,\n      image_index: index + 1   // Proper increment\n    },\n    binary: item.binary\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8912,
        27008
      ],
      "id": "1e140161-80f3-46f7-8451-6acf746875d9",
      "name": "Add Image Index Back"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7744,
        28416
      ],
      "id": "3245eef7-c255-4ab2-a46a-f2fff6464a35",
      "name": "Loop Video Generation"
    }
  ],
  "pinData": {},
  "connections": {
    "Caption Video": {
      "main": [
        [
          {
            "node": "List All S3 Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Build Faceless Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Array with Videos": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Get Audio Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Video Array": {
      "main": [
        [
          {
            "node": "Concatenate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Loop Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Faceless Array": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenate Video": {
      "main": [
        [
          {
            "node": "Caption Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trim Video": {
      "main": [
        [
          {
            "node": "Combine Audio + Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio Metadata": {
      "main": [
        [
          {
            "node": "Trim Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Audio + Video": {
      "main": [
        [
          {
            "node": "Build Video Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Audio Scripts": {
      "main": [
        [
          {
            "node": "Generate Image Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Audio Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Items": {
      "main": [
        [
          {
            "node": "Process Images Sequentially",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Path (Pass Through)": {
      "main": [
        [
          {
            "node": "Read Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Image File": {
      "main": [
        [
          {
            "node": "Upload a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Images Sequentially": {
      "main": [
        [
          {
            "node": "Add Image Index Back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image Path (Pass Through)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kokoro TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kokoro TTS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All S3 Files": {
      "main": [
        [
          {
            "node": "Filter Cleanup Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Cleanup Files": {
      "main": [
        [
          {
            "node": "Delete Temp Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file1": {
      "main": [
        [
          {
            "node": "Process Images Sequentially",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Process Uploaded Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Uploaded Images": {
      "main": [
        [
          {
            "node": "Loop Over Uploaded Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Uploaded Images": {
      "main": [
        [
          {
            "node": "Split Audio Scripts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Image to Filesystem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image to Filesystem": {
      "main": [
        [
          {
            "node": "Wait for All Images Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for All Images Saved": {
      "main": [
        [
          {
            "node": "Loop Over Uploaded Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audio Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Image Index Back": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Video Generation": {
      "main": [
        [
          {
            "node": "Create Array with Videos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "07708eed-3859-4e5e-ba1d-1a4f61e6fc0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3beeed8c7dfb3ed9688eff6f78847fda4abc61df92a5df8f1adf0fdaa07dcee4"
  },
  "id": "k6FWhnhe9RiBsrLB",
  "tags": [
    {
      "updatedAt": "2026-01-20T09:44:21.813Z",
      "createdAt": "2026-01-20T09:44:21.813Z",
      "id": "d21Q8MpJ5Yhlo3yu",
      "name": "youtube"
    }
  ]
}