Suspense Story.json
{
  "name": "Suspense Story",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1296,
        1712
      ],
      "id": "a2091782-c83e-4e2c-b184-2b53d4d8a0f8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae3c4fa7-55f7-4d53-b6db-e5204061e699",
              "name": "Image 1",
              "value": "={{ $json.image_1.data[0].url }}",
              "type": "string"
            },
            {
              "id": "5849fa56-59e4-46f1-8d0d-7a72ab118c37",
              "name": "Audio 1",
              "value": "={{ $json.audio_1.file_url }}",
              "type": "string"
            },
            {
              "id": "7629501a-6b17-4842-8c0e-1cb8a867648a",
              "name": "Image 2",
              "value": "={{ $json.image_2.data[0].url }}",
              "type": "string"
            },
            {
              "id": "a250e441-e78d-468e-bc9a-3ad4e705f13e",
              "name": "Audio 2",
              "value": "={{ $json.audio_2.file_url }}",
              "type": "string"
            },
            {
              "id": "75b8133e-96a8-47ab-94db-b20b87ed66c9",
              "name": "Image 3",
              "value": "={{ $json.image_3.data[0].url }}",
              "type": "string"
            },
            {
              "id": "2f03412a-4a01-475c-aed3-980cf30524bb",
              "name": "Audio 3",
              "value": "={{ $json.audio_3.file_url }}",
              "type": "string"
            },
            {
              "id": "b010e365-dd40-499a-87cb-a68d62c9d5a2",
              "name": "Image 4",
              "value": "={{ $json.image_4.data[0].url }}",
              "type": "string"
            },
            {
              "id": "8a86d81e-d675-4331-932f-65004d9e7061",
              "name": "Audio 4",
              "value": "={{ $json.audio_4.file_url }}",
              "type": "string"
            },
            {
              "id": "18ad0861-1599-473d-841f-59a71553d561",
              "name": "Image 5",
              "value": "={{ $json.image_5.data[0].url }}",
              "type": "string"
            },
            {
              "id": "81ae4462-320b-4d81-a6de-c3b8ad9378d3",
              "name": "Audio 5",
              "value": "={{ $json.audio_5.file_url }}",
              "type": "string"
            },
            {
              "id": "c7903178-c814-4b2c-b532-9283118a652d",
              "name": "Image 6",
              "value": "={{ $json.image_6.data[0].url }}",
              "type": "string"
            },
            {
              "id": "98b8f1bd-15c6-4297-b0f8-5fde9daf9692",
              "name": "Audio 6",
              "value": "={{ $json.audio_6.file_url }}",
              "type": "string"
            },
            {
              "id": "117cdedf-70e1-4836-9bf6-2f510e7fa8d1",
              "name": "Image 7",
              "value": "={{ $json.image_7.data[0].url }}",
              "type": "string"
            },
            {
              "id": "bd2368b4-ff7a-4bed-a5c6-e8a8874fb752",
              "name": "Audio 7",
              "value": "={{ $json.audio_7.file_url }}",
              "type": "string"
            },
            {
              "id": "a52eb584-6087-4348-b812-c8d8d7ebac0e",
              "name": "Image 8",
              "value": "={{ $json.image_8.data[0].url }}",
              "type": "string"
            },
            {
              "id": "fa59c82e-29d0-423d-8fdc-532a459eb163",
              "name": "Audio 8",
              "value": "={{ $json.audio_8.file_url }}",
              "type": "string"
            },
            {
              "id": "aa9bb8af-5c12-4cc3-b682-c6e85357b363",
              "name": "Image 9",
              "value": "={{ $json.image_9.data[0].url }}",
              "type": "string"
            },
            {
              "id": "4b113903-ba72-42a5-90e8-6ed86b4061a9",
              "name": "Audio 9",
              "value": "={{ $json.audio_9.file_url }}",
              "type": "string"
            },
            {
              "id": "d05659f8-e8d0-4fe5-8595-4c5c7f283c18",
              "name": "Image 10",
              "value": "={{ $json.image_10.data[0].url }}",
              "type": "string"
            },
            {
              "id": "2c20b46c-89aa-4a6a-9d64-38effbcdbb01",
              "name": "Audio 10",
              "value": "={{ $json.audio_10.file_url }}",
              "type": "string"
            },
            {
              "id": "3a1ba150-6cde-4883-a337-3778301a6224",
              "name": "Image 11",
              "value": "={{ $json.image_11.data[0].url }}",
              "type": "string"
            },
            {
              "id": "1a6a5556-5429-421d-b076-be7400b42099",
              "name": "Audio 11",
              "value": "={{ $json.audio_11.file_url }}",
              "type": "string"
            },
            {
              "id": "109e905f-1fef-4ed2-be1b-326e8086208d",
              "name": "Image 12",
              "value": "={{ $json.image_12.data[0].url }}",
              "type": "string"
            },
            {
              "id": "f5df392d-cadb-4a5a-afba-c0df56ed6118",
              "name": "Audio 12",
              "value": "={{ $json.audio_12.file_url }}",
              "type": "string"
            },
            {
              "id": "f6118d24-c4f7-4b63-843c-113f4caacc53",
              "name": "base_url",
              "value": "http://host.docker.internal:8080",
              "type": "string"
            },
            {
              "id": "007da1d7-1a17-4cf4-9e26-a2c71154eddb",
              "name": "ID",
              "value": "={{ $json[\"s.no\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        2448
      ],
      "id": "9edddd4e-19c8-40a5-b546-dbecc9628b96",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "fieldToSplitOut": "scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2288,
        2752
      ],
      "id": "caca8d32-2c74-46be-8f23-b0734d0c34ab",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const buildArrayScenes = $('Build Faceless Array').first().json.scenes;\nconst doneBranchItems = $input.all();\n\nconst updatedScenes = buildArrayScenes.map(scene => {\n\n  const matchingVideoItem = doneBranchItems.find(item =>\n    item.json?.id === scene.sceneId &&\n    typeof item.json.response === 'string' && \n    item.json.response.startsWith('http')\n  );\n\n  if (matchingVideoItem) {\n    return {\n      ...scene,\n      video: matchingVideoItem.json.response,\n    };\n  }\n\n  return scene;\n});\n\nreturn [\n  {\n    json: {\n      scenes: updatedScenes,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        2752
      ],
      "id": "38a9e9bc-018f-4280-9aad-c7016c622f7a",
      "name": "Create Array with Videos"
    },
    {
      "parameters": {
        "fieldToSplitOut": "scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2896,
        2432
      ],
      "id": "37696204-d11b-4b7c-9588-60cba27a8607",
      "name": "Split Items"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst videoUrls = items.map((item) => ({\n  video_url: item.json.response[0].file_url\n}));\n\nconst output = {\n  video_urls: videoUrls,\n  id: \"2323\"\n};\n\nreturn [\n  {\n    json: {\n      output: JSON.stringify(output)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        2432
      ],
      "id": "88980822-aa5f-489b-9418-fac27306c4c3",
      "name": "Build Video Array"
    },
    {
      "parameters": {
        "content": "## Prepare Automation",
        "height": 300,
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2016,
        2336
      ],
      "typeVersion": 1,
      "id": "469c79c7-145f-4830-945d-a8b5269bfd7e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/image/transform/video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"image_url\":\"{{ $json.image }}\",\n    \"length\": 20,\n    \"frame_rate\": 25,\n    \"zoom_speed\": 6,\n    \"id\": \"{{ $('Split Out').item.json.sceneId }}\"\n} ",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        2752
      ],
      "id": "b40aaf34-6ad7-4904-ac94-66c50418dc37",
      "name": "Generate Video"
    },
    {
      "parameters": {
        "content": "## Generate Videos",
        "height": 300,
        "width": 580,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2016,
        2656
      ],
      "typeVersion": 1,
      "id": "8e69e6dc-2bcd-4803-beed-06723d3bc436",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst scenes = [];\n\nconst keys = Object.keys(item);\nconst sceneNumbers = new Set();\n\nkeys.forEach(key => {\n  const match = key.match(/(Audio|Image) (\\d+)/);\n  if (match) {\n    sceneNumbers.add(match[2]);\n  }\n});\n\nArray.from(sceneNumbers)\n  .sort((a, b) => Number(a) - Number(b))\n  .forEach(num => {\n    scenes.push({\n      audio: item[`Audio ${num}`] || null,\n      image: item[`Image ${num}`] || null,\n      video: null,\n      sceneId: `Scene ${num}`,\n    });\n  });\n\nreturn [\n  {\n    json: {\n      scenes,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        2448
      ],
      "id": "8e7413ab-ec00-48f8-87b9-a345ad3bfd06",
      "name": "Build Faceless Array"
    },
    {
      "parameters": {
        "content": "## Get Video Metadata",
        "height": 300,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        2336
      ],
      "typeVersion": 1,
      "id": "0637f6d3-7abe-4f48-ae65-f28bd773c1e1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Trim Audio + Video",
        "height": 300,
        "width": 580,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        2656
      ],
      "typeVersion": 1,
      "id": "6192b6dd-08cd-4689-8943-6a520d54b1c3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Final Merged Video",
        "height": 300,
        "width": 748,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3232,
        2336
      ],
      "typeVersion": 1,
      "id": "f42131ca-36ce-48ec-b6c1-8f98587bcae2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/video/concatenate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.output }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3776,
        2432
      ],
      "id": "895dc290-df8b-42e9-b93f-98e8a133d7bc",
      "name": "Concatenate Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/video/trim",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"video_url\": \"{{ $('Split Items').item.json.video }}\",\n    \"start\": \"00:00:00\",\n    \"end\": \"{{ $json.response.duration_formatted }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        2752
      ],
      "id": "dc03c944-192c-4d2a-8051-6bef7b040f93",
      "name": "Trim Video"
    },
    {
      "parameters": {
        "content": "## Caption Video",
        "height": 300,
        "width": 748,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3232,
        2656
      ],
      "typeVersion": 1,
      "id": "130660f7-d2fd-48d3-93ab-0e63de10e0c6",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/media/metadata ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_url\": \"{{ $json.audio }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        2432
      ],
      "id": "02b96965-2a93-4a49-a1d8-f1cc7860928c",
      "name": "Get Audio Metadata"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/video/caption",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.response }}\",\n  \"settings\": {\n    \"line_color\": \"#FFFFFF\",\n    \"word_color\": \"#66ff74\",\n    \"all_caps\": false,\n    \"max_words_per_line\": 3,\n    \"font_size\": 60,\n    \"bold\": false,\n    \"italic\": false,\n    \"underline\": false,\n    \"strikeout\": false,\n    \"outline_width\": 3,\n    \"shadow_offset\": 4,\n    \"style\": \"highlight\",\n    \"font_family\": \"The Bold Font\",\n    \"position\": \"bottom_center\"\n  },\n  \"id\": \"gdrive-five\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3648,
        2752
      ],
      "id": "a406f22b-4028-420a-80c5-0fd49f3d04bb",
      "name": "Caption Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').first().json.base_url }}/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "thekey"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": [\n    {\n      \"file_url\": \"{{ $json.response }}\"\n    },\n    {\n      \"file_url\": \"{{ $('Split Items').item.json.audio }}\"\n    }\n  ],\n  \"outputs\": [\n    {\n      \"options\": [\n        {\n          \"option\": \"-map\",\n          \"argument\": \"0:v:0\"\n        },\n        {\n          \"option\": \"-map\",\n          \"argument\": \"1:a:0\"\n        },\n        {\n          \"option\": \"-c:v\",\n          \"argument\": \"copy\"\n        },\n        {\n          \"option\": \"-c:a\",\n          \"argument\": \"aac\"\n        },\n        {\n          \"option\": \"-shortest\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3328,
        2752
      ],
      "id": "e83ddc4a-bb22-454e-b8c2-d08266a2c024",
      "name": "Combine Audio + Video"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional cinematic suspense content creator and visual director. Your task is to transform a given suspense short story into highly detailed AI image generation prompts and immersive, high-retention narration audio segments for a short-form video under 60 seconds. Input provided: Title: {{$json.title}} and Story Script: {{$json.script}}. The story is already written with 5-second suspense beats (0–5s, 5–10s, etc.), and you must convert each beat into a corresponding cinematic visual scene and narration segment. The first 5 seconds must introduce immediate danger, impossibility, or a reality-breaking moment. Every 10–15 seconds must introduce a MAJOR escalation (not just a discovery but an active shift in danger, environment, or psychological stakes). The final 5 seconds must contain a powerful psychological twist that recontextualizes the story and provokes comments or debate. Avoid passive discoveries; the environment must feel active and responsive. Avoid repetitive sentence structures such as “I found” or “I heard.” Increase psychological horror over physical horror, focusing on dread, implication, and mental destabilization. For each 5-second segment, generate: (1) Image Prompt – a highly detailed, cinematic, visually rich AI image generation prompt with dark, atmospheric, suspenseful tone, dramatic lighting (moody shadows, volumetric light, practical lighting, fog, low-key lighting), strong environmental storytelling, clear body language, tension, and camera framing using wide shot or mid-shot only (no close-ups unless absolutely necessary for extreme horror impact), maximum of two characters in the entire story, strict visual consistency across scenes, no cartoonish or fantasy styling unless required by the story, and end each prompt with “Cinematic, ultra-detailed, realistic, 9:16 aspect ratio”; (2) Audio Narration Text – rewrite the exact suspense beat into a highly engaging, emotionally controlled, immersive cinematic voice-over line optimized for strong TTS delivery, using dynamic pacing, subtle dramatic pauses with “…”, tonal intensity shifts, and rhythmic sentence variation while remaining faithful to the original script and not adding new story elements. Total narration must remain under 60 seconds, tension must escalate continuously, each scene must visually progress the suspense, no new characters may be introduced, do not summarize, do not explain, do not include emojis or hashtags, and output must be clean JSON only using the required format with image_1 through image_12 and audio_1 through audio_12 (or fewer if the story has fewer beats), ensuring every image directly represents its corresponding suspense line and the overall result is dark, cinematic, psychologically intense, and optimized for viral retention.\n\nOutput Format (JSON): \n{\n   \"image_1\":\"...\",\n   \"image_2\":\"...\",\n   \"image_3\":\"...\",\n   \"image_4\":\"...\",\n   \"image_5\":\"...\",\n   \"image_6\":\"...\",\n   \"image_7\":\"...\",\n   \"image_8\":\"...\",\n   \"image_9\":\"...\",\n   \"image_10\":\"...\",\n   \"image_11\":\"...\",\n   \"image_12\":\"...\",\n   \"audio_1\":\"...\",\n   \"audio_2\":\"...\",\n   \"audio_3\":\"...\",\n   \"audio_4\":\"...\",\n   \"audio_5\":\"...\",\n   \"audio_6\":\"...\",\n   \"audio_7\":\"...\",\n   \"audio_8\":\"...\",\n   \"audio_9\":\"...\",\n   \"audio_10\":\"...\",\n   \"audio_11\":\"...\",\n   \"audio_12\":\"...\"\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1984,
        1728
      ],
      "id": "dc9b3863-a8b8-4f58-b708-c90bbddfb6a6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n   \"image_1\":\"...\",\n   \"image_2\":\"...\",\n   \"image_3\":\"...\",\n   \"image_4\":\"...\",\n   \"image_5\":\"...\",\n   \"image_6\":\"...\",\n   \"image_7\":\"...\",\n   \"image_8\":\"...\",\n   \"image_9\":\"...\",\n   \"image_10\":\"...\",\n   \"image_11\":\"...\",\n   \"image_12\":\"...\",\n   \"audio_1\":\"...\",\n   \"audio_2\":\"...\",\n   \"audio_3\":\"...\",\n   \"audio_4\":\"...\",\n   \"audio_5\":\"...\",\n   \"audio_6\":\"...\",\n   \"audio_7\":\"...\",\n   \"audio_8\":\"...\",\n   \"audio_9\":\"...\",\n   \"audio_10\":\"...\",\n   \"audio_11\":\"...\",\n   \"audio_12\":\"...\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2224,
        1904
      ],
      "id": "25d112e5-35ba-46e5-a498-1c42ea6991bf",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.infip.pro/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer infip-5adef402"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.image_script }}\",\n\"model\":\"img4\",\n  \"num_images\": 1,\n  \"enable_safety_checker\": true,\n  \"output_format\": \"jpeg\",\n  \"safety_tolerance\": \"2\",\n  \"aspect_ratio\": \"9:16\"\n}",
        "options": {
          "redirect": {},
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3152,
        1648
      ],
      "id": "bd1d3866-b030-4da9-a8c7-c329e59d86c9",
      "name": "Image Gen"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee9d9198-73be-4b18-8178-43bd88dc7411",
              "name": "image_1",
              "value": "={{ $json.output.image_1 }}",
              "type": "string"
            },
            {
              "id": "865fe843-de47-45f4-b983-151249e86612",
              "name": "image_2",
              "value": "={{ $json.output.image_2 }}",
              "type": "string"
            },
            {
              "id": "aeb27b33-e301-43f6-9815-b4211f327892",
              "name": "image_3",
              "value": "={{ $json.output.image_3 }}",
              "type": "string"
            },
            {
              "id": "ad8fc94a-d371-47be-8551-f9eee8e22b84",
              "name": "image_4",
              "value": "={{ $json.output.image_4 }}",
              "type": "string"
            },
            {
              "id": "aaff4427-5e7b-481e-8351-60e69828a9e8",
              "name": "image_5",
              "value": "={{ $json.output.image_5 }}",
              "type": "string"
            },
            {
              "id": "6fea71e9-31a4-4565-bace-353649245692",
              "name": "image_6",
              "value": "={{ $json.output.image_6 }}",
              "type": "string"
            },
            {
              "id": "e0363a7d-1274-4869-b7c6-31de2aea7386",
              "name": "image_7",
              "value": "={{ $json.output.image_7 }}",
              "type": "string"
            },
            {
              "id": "c4a6fe67-d4da-40ef-9adb-d20d94c9b525",
              "name": "image_8",
              "value": "={{ $json.output.image_8 }}",
              "type": "string"
            },
            {
              "id": "6eeb496b-17be-4fe3-84a1-c90418097edf",
              "name": "image_9",
              "value": "={{ $json.output.image_9 }}",
              "type": "string"
            },
            {
              "id": "b9b46c8c-63e9-4d98-90be-5467bd70aec8",
              "name": "image_10",
              "value": "={{ $json.output.image_10 }}",
              "type": "string"
            },
            {
              "id": "b8d08505-6e3a-4e5d-bb32-bab5832b6228",
              "name": "image_11",
              "value": "={{ $json.output.image_11 }}",
              "type": "string"
            },
            {
              "id": "28f50b7e-238f-4c27-b8e3-e4d39d0b6759",
              "name": "image_12",
              "value": "={{ $json.output.image_12 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        1712
      ],
      "id": "8080505a-ffc1-4426-9170-74e518662d79",
      "name": "Image Scripts"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee9d9198-73be-4b18-8178-43bd88dc7411",
              "name": "audio_1",
              "value": "={{ $json.output.audio_1 }}",
              "type": "string"
            },
            {
              "id": "aeb27b33-e301-43f6-9815-b4211f327892",
              "name": "audio_2",
              "value": "={{ $json.output.audio_2 }}",
              "type": "string"
            },
            {
              "id": "2b411a02-bcef-4b5b-bbac-ddb277c93ab4",
              "name": "audio_3",
              "value": "={{ $json.output.audio_3 }}",
              "type": "string"
            },
            {
              "id": "7e3762f0-a584-4fc3-ba65-0761485e504b",
              "name": "audio_4",
              "value": "={{ $json.output.audio_4 }}",
              "type": "string"
            },
            {
              "id": "fbd67bcf-299a-4675-b51b-2f3ef4a37fa4",
              "name": "audio_5",
              "value": "={{ $json.output.audio_5 }}",
              "type": "string"
            },
            {
              "id": "5f710f7a-b06f-4d29-8d2e-53d37b7073c1",
              "name": "audio_6",
              "value": "={{ $json.output.audio_6 }}",
              "type": "string"
            },
            {
              "id": "988f7361-1e96-4a8e-8afa-d19f71853dd4",
              "name": "audio_7",
              "value": "={{ $json.output.audio_7 }}",
              "type": "string"
            },
            {
              "id": "87b39376-e8f8-4dde-8ab3-190f19ffd632",
              "name": "audio_8",
              "value": "={{ $json.output.audio_8 }}",
              "type": "string"
            },
            {
              "id": "d74a482e-16df-492d-a69f-64af857ce317",
              "name": "audio_9",
              "value": "={{ $json.output.audio_9 }}",
              "type": "string"
            },
            {
              "id": "1ec40932-f6fa-41f3-b183-b2078bd2406d",
              "name": "audio_10",
              "value": "={{ $json.output.audio_10 }}",
              "type": "string"
            },
            {
              "id": "e99faf19-b66a-4504-bb90-b51180c71240",
              "name": "audio_11",
              "value": "={{ $json.output.audio_11 }}",
              "type": "string"
            },
            {
              "id": "ccd7a253-b5f8-4ed6-97f5-dd81c1bbc70d",
              "name": "audio_12",
              "value": "={{ $json.output.audio_12 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        1872
      ],
      "id": "6c1b6397-5ff2-4cf4-a2dc-083ca6064e7c",
      "name": "Audio Scripts"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nconst inputItem = $input.first();\n\n// Loop from audio_1 to audio_12\nfor (let i = 1; i <= 12; i++) {\n  const key = `audio_${i}`;\n\n  if (inputItem.json[key]) {\n    items.push({\n      json: {\n        audio_script: inputItem.json[key],\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        1888
      ],
      "id": "c8dd35a6-44aa-483d-94d1-82afd8c1dafd",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nconst inputItem = $input.first();\n\n// Loop from image_1 to image_12\nfor (let i = 1; i <= 12; i++) {\n  const key = `image_${i}`;\n\n  if (inputItem.json[key]) {\n    items.push({\n      json: {\n        image_script: inputItem.json[key],\n      }\n    });\n  }\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        1712
      ],
      "id": "005d58d6-2d8f-4c56-bab2-89fdbbada66e",
      "name": "Code3"
    },
    {
      "parameters": {
        "url": "={{ $json.data[0].url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        1648
      ],
      "id": "969bdb67-cc85-4d98-bfaf-00d745a5355c",
      "name": "Image Get",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6krMQk0UfoUOVuJc",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const combinedItem = {\n  json: {}\n};\n\n// Combine all items into a single item\n$input.all().forEach((item, index) => {\n  const imageNumber = index + 1;\n  combinedItem.json[`image_${imageNumber}`] = item.json.image_script || item.json;\n});\n\nreturn [combinedItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        1648
      ],
      "id": "5883caf8-91b2-49a1-935b-4ee96f9846c1",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const combinedItem = {\n  json: {}\n};\n\n// Combine all items into a single item\n$input.all().forEach((item, index) => {\n  const audioNumber = index + 1;\n  combinedItem.json[`audio_${audioNumber}`] = item.json.audio_script || item.json;\n});\n\nreturn [combinedItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3904,
        1952
      ],
      "id": "84d95cc5-022c-4e23-8390-843ca29adb95",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4288,
        1968
      ],
      "id": "5aff202d-be6c-47c7-ae9f-1343dfa2588f",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "# Self-Hosted API for Video Creation, Merging, and Auto-Captions",
        "height": 796,
        "width": 2624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1952,
        2192
      ],
      "id": "54b7df5c-b7a5-4890-92ca-4d893a8799ce",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Generate Images",
        "height": 220,
        "width": 780,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3040,
        1584
      ],
      "typeVersion": 1,
      "id": "df3bedeb-6885-42cb-9b51-2355656f5bcd",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Generate Audio ",
        "height": 300,
        "width": 1084,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3040,
        1840
      ],
      "typeVersion": 1,
      "id": "8e0854ae-d5b5-481c-8efb-c682a675110c",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Unbundle Images & Audio",
        "height": 480,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        1616
      ],
      "typeVersion": 1,
      "id": "2737884b-0e21-432e-a3ae-5b31545731ea",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Generate Script",
        "height": 400,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        1648
      ],
      "typeVersion": 1,
      "id": "8ae6e50d-b861-4aa7-9c7a-ee1324dcdf29",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Suspense_Stories",
        "limit": 1,
        "filterType": "string",
        "filterString": "status=eq.FALSE"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1680,
        1792
      ],
      "id": "01f545bc-2fd6-444c-a851-b0e4fd23f5fa",
      "name": "Supabase Insert",
      "credentials": {
        "supabaseApi": {
          "id": "v3sBLnLD71Mql8Vu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "provider-3/deepseek-v3",
          "mode": "list",
          "cachedResultName": "provider-3/deepseek-v3"
        },
        "options": {
          "maxTokens": 8192,
          "temperature": 0.7,
          "timeout": 600000,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1984,
        1920
      ],
      "id": "c89423dd-8520-44a9-aa52-e98d028510e4",
      "name": "AF4 Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SGX1Vgzz7Eqvr51E",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3120,
        1888
      ],
      "id": "a4ffa011-2c6e-4b5e-8c93-cecdf57325e9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "nca-toolkit",
        "additionalFields": {
          "parentFolderKey": "=audio/elevenlabs_{{$itemIndex + 1}}"
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        3520,
        1856
      ],
      "id": "4d7ae762-dd75-449f-89e1-d4281cf9eb34",
      "name": "Upload a file",
      "credentials": {
        "s3": {
          "id": "SKZ3sdER2DNqAkda",
          "name": "S3 account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36039af3-7622-474f-9bdb-0766b870c12c",
              "name": "file_url",
              "value": "={{ \"http://host.docker.internal:9000/nca-toolkit/audio/elevenlabs_\" + ($itemIndex + 1) + \"/speech.mp3\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3696,
        1872
      ],
      "id": "89eabf30-c05a-47f7-ae29-05142972fd2f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8880/v1/audio/speech",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": \"{{ $('Code2').item.json.audio_script }}\",\n  \"voice\": \"af_bella\",\n  \"response_format\": \"mp3\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        1920
      ],
      "id": "571c9f47-d9c9-42e5-ac61-9117e1ba4c20",
      "name": "Kokoro TTS"
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "nca-toolkit",
        "returnAll": true,
        "options": {}
      },
      "id": "396b5a64-688c-4b40-8a24-46618935896b",
      "name": "List All S3 Files",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        4032,
        2672
      ],
      "credentials": {
        "s3": {
          "id": "SKZ3sdER2DNqAkda",
          "name": "S3 account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the current captioned video key from Caption Video node\nlet currentCaptionedKey = null;\ntry {\n  const captionUrl = $('Caption Video').first().json.response;\n  const match = captionUrl.match(/nca-toolkit\\/(.+)$/);\n  if (match) {\n    currentCaptionedKey = match[1];\n  }\n} catch (e) {\n  // Caption Video might not have response\n}\n\n// Get all S3 files and filter for deletion\nconst filesToDelete = [];\nconst items = $input.all();\n\nitems.forEach(item => {\n  const key = item.json.Key;\n  \n  // Skip if this is the current captioned video\n  if (currentCaptionedKey && key === currentCaptionedKey) {\n    return; // Keep this file\n  }\n  \n  // Delete all .mp4 and .mp3 files (old videos and audio)\n  if (key.endsWith('.mp4') || key.endsWith('.mp3')) {\n    filesToDelete.push({\n      json: { key }\n    });\n  }\n});\n\n// Also add the audio folder paths to delete (they should be empty after files are deleted)\nfor (let i = 1; i <= 3; i++) {\n  filesToDelete.push({\n    json: { key: 'audio/elevenlabs_' + i + '/' }\n  });\n}\n\nreturn filesToDelete;"
      },
      "id": "d36135ed-c084-41c7-ad06-cfab86ea5476",
      "name": "Filter Cleanup Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4176,
        2512
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "bucketName": "nca-toolkit",
        "fileKey": "={{ $json.key }}",
        "options": {}
      },
      "id": "324831ab-f87a-49da-89d7-34bc76526f53",
      "name": "Delete Temp Files",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        4352,
        2496
      ],
      "credentials": {
        "s3": {
          "id": "SKZ3sdER2DNqAkda",
          "name": "S3 account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Clean up files from S3",
        "height": 412,
        "width": 556,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4000,
        2416
      ],
      "typeVersion": 1,
      "id": "a8bb7e2c-15b7-4f6a-9841-065c13610366",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "jsCode": "// Get the output from Basic LLM Chain1\nconst inputItem = $input.first().json.output;\n\n// Create an array to hold the 3 separate story items\nconst stories = [];\n\n// Loop through the 3 stories and create separate items\nfor (let i = 1; i <= 3; i++) {\n  const titleKey = `Title_${i}`;\n  const scriptKey = `Story_Script_${i}`;\n  \n  if (inputItem[titleKey] && inputItem[scriptKey]) {\n    stories.push({\n      json: {\n        title: inputItem[titleKey],\n        script: inputItem[scriptKey]\n      }\n    });\n  }\n}\n\nreturn stories;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        1296
      ],
      "id": "d7c31a60-abb8-4806-8705-ad4449f414c5",
      "name": "Split Stories"
    },
    {
      "parameters": {
        "tableId": "Suspense_Stories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "script",
              "fieldValue": "={{ $json.script }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2496,
        1376
      ],
      "id": "d8227e4b-5e46-4edd-bf9b-76fbe17a9438",
      "name": "Insert Stories",
      "credentials": {
        "supabaseApi": {
          "id": "v3sBLnLD71Mql8Vu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Generate Ideas",
        "height": 368,
        "width": 836,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        1232
      ],
      "typeVersion": 1,
      "id": "ece5bd7d-012e-4fb2-b8bc-178e797d0b92",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate 3 viral suspense short-video stories designed specifically for TikTok, Instagram Reels, and YouTube Shorts. Each story must include a highly curiosity-driven, shocking, click-triggering title and a script written in a single paragraph under 60 seconds. The very first sentence must introduce immediate danger, impossibility, or a reality-breaking moment — not just mystery, but active threat. A new suspense hook or escalation must occur approximately every 5 seconds to maintain extreme retention pacing. Every 10–15 seconds, introduce a MAJOR escalation (a shift in danger, environment, psychological stakes, or reality itself — not just a discovery). Avoid passive storytelling such as “I found” or “I heard”; instead, make the environment feel active, responsive, and threatening. Increase psychological horror over physical horror, focusing on dread, implication, mental destabilization, memory distortion, or reality shifts. Each story must include strictly only two characters (no more, no less), and tension must revolve tightly around them. The themes must be different for each story and must revolve around conspiracy theories, government cover-ups, secret experiments, unsolved disappearances, historical mysteries, strange sightings, hidden underground facilities, forbidden recordings, time anomalies, or reality-bending coincidences. The tension must escalate continuously without slowing down. The final 5 seconds must contain a powerful psychological twist that recontextualizes the entire story and provokes comments, debate, or theories. The ending must not feel closed — it must feel disturbing, unresolved, or mentally unsettling. Tone must be dark, cinematic, immersive, mysterious, and optimized for viral retention and strong voice narration delivery. Avoid clichés, avoid predictable horror tropes, and avoid repetitive sentence structures. Output format must be clean JSON only using this structure:\n{\n \"Title_1\": \"....\",\n \"Title_2\": \"....\",\n \"Title_3\": \"....\",\n \"Story_Script_1\": \"....\",\n \"Story_Script_2\": \"....\",\n \"Story_Script_3\": \"....\"\n }",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Generate 3 viral suspense short-video stories designed specifically for TikTok, Instagram Reels, and YouTube Shorts. Each story must include a highly curiosity-driven, shocking, click-triggering title and a script written in a single paragraph under 60 seconds. The very first sentence must introduce immediate danger, impossibility, or a reality-breaking moment — not just mystery, but active threat. A new suspense hook or escalation must occur approximately every 5 seconds to maintain extreme retention pacing. Every 10–15 seconds, introduce a MAJOR escalation (a shift in danger, environment, psychological stakes, or reality itself — not just a discovery). Avoid passive storytelling such as “I found” or “I heard”; instead, make the environment feel active, responsive, and threatening. Increase psychological horror over physical horror, focusing on dread, implication, mental destabilization, memory distortion, or reality shifts. Each story must include strictly only two characters (no more, no less), and tension must revolve tightly around them. The themes must be different for each story and must revolve around conspiracy theories, government cover-ups, secret experiments, unsolved disappearances, historical mysteries, strange sightings, hidden underground facilities, forbidden recordings, time anomalies, or reality-bending coincidences. The tension must escalate continuously without slowing down. The final 5 seconds must contain a powerful psychological twist that recontextualizes the entire story and provokes comments, debate, or theories. The ending must not feel closed — it must feel disturbing, unresolved, or mentally unsettling. Tone must be dark, cinematic, immersive, mysterious, and optimized for viral retention and strong voice narration delivery. Avoid clichés, avoid predictable horror tropes, and avoid repetitive sentence structures. Output format must be clean JSON only using this structure:\n{\n \"Title_1\": \"....\",\n \"Title_2\": \"....\",\n \"Title_3\": \"....\",\n \"Story_Script_1\": \"....\",\n \"Story_Script_2\": \"....\",\n \"Story_Script_3\": \"....\"\n }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2000,
        1296
      ],
      "id": "96ff2864-13d5-45da-90df-e323112c229f",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "provider-3/deepseek-v3",
          "mode": "list",
          "cachedResultName": "provider-3/deepseek-v3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1984,
        1488
      ],
      "id": "07fd1d76-3b28-4ac1-8da8-23bfd374a23f",
      "name": "AF4 Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "SGX1Vgzz7Eqvr51E",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n \"Title_1\": \"....\",\n \"Title_2\": \"....\",\n \"Title_3\": \"....\",\n \"Story_Script_1\": \"....\",\n \"Story_Script_2\": \"....\",\n \"Story_Script_3\": \"....\"\n }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2144,
        1472
      ],
      "id": "eb600bae-f2ff-4d7c-94a6-3b1753eb60a6",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Suspense_Stories",
        "filters": {
          "conditions": [
            {
              "keyName": "s_no",
              "condition": "eq",
              "keyValue": "={{ $('Supabase Insert').first().json.s_no }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "final_video",
              "fieldValue": "Done"
            },
            {
              "fieldId": "status",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4352,
        2688
      ],
      "id": "05a5d211-93d8-4bef-8417-c4e08691bc0f",
      "name": "Update Status",
      "credentials": {
        "supabaseApi": {
          "id": "v3sBLnLD71Mql8Vu",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Caption Video": {
      "main": [
        [
          {
            "node": "List All S3 Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Build Faceless Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Array with Videos": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Get Audio Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Video Array": {
      "main": [
        [
          {
            "node": "Concatenate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Create Array with Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Faceless Array": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenate Video": {
      "main": [
        [
          {
            "node": "Caption Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trim Video": {
      "main": [
        [
          {
            "node": "Combine Audio + Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio Metadata": {
      "main": [
        [
          {
            "node": "Trim Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Audio + Video": {
      "main": [
        [
          {
            "node": "Build Video Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Image Scripts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Audio Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Image Scripts": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Scripts": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Image Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Gen": {
      "main": [
        [
          {
            "node": "Image Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Get": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AF4 Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kokoro TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kokoro TTS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All S3 Files": {
      "main": [
        [
          {
            "node": "Filter Cleanup Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Cleanup Files": {
      "main": [
        [
          {
            "node": "Delete Temp Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AF4 Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Split Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Stories": {
      "main": [
        [
          {
            "node": "Insert Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Temp Files": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ff9f5db4-7964-49b7-8388-e83ba9ff85a9",
  "meta": {
    "instanceId": "3beeed8c7dfb3ed9688eff6f78847fda4abc61df92a5df8f1adf0fdaa07dcee4"
  },
  "id": "AimVxcL3sjoO-mWzAV5V1",
  "tags": [
    {
      "updatedAt": "2026-01-20T09:44:21.813Z",
      "createdAt": "2026-01-20T09:44:21.813Z",
      "id": "d21Q8MpJ5Yhlo3yu",
      "name": "youtube"
    }
  ]
}